:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  app-search {
    margin: 1.5rem;
    width: 50%;
  }

  .cardlist {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;

    app-card {
      transition: all 100ms linear;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  @media (max-width: 600px) {
    app-search {
      margin: 1.5rem;
      width: calc(100% - 2rem);
    }
  }
}
