@import "toolbox";

:host {
  display: inline-flex;
  padding: 0.10rem 0.25rem;
  border-radius: 3px;
  color: $color-neutral-100;
  font-size: 0.5rem;
  font-weight: 900;

  &.-landscape {
    background-color: $color-type-landscape-50;
  }
  &.-flower {
    background-color: $color-type-flower-50;
  }
  &.-pizza {
    background-color: $color-type-pizza-50;
  }
}
