:root {
  --color-primary-50: #009aff;
  --color-danger-50: #cc001d;

  --color-type-landscape-50: #015bfe;
  --color-type-flower-50: #fe004b;
  --color-type-pizza-50: #928c05;

  --color-neutral-100: #ffffff;
  --color-neutral-60: #efefef;
  --color-neutral-50: #dadadc;
  --color-neutral-40: #9e9e9e;
  --color-neutral-30: #7e7981;
  --color-neutral-20: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", "Inter", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}
