:root {
  --color-primary-50: #009aff;
  --color-neutral-100: #ffffff;
  --color-neutral-50: #efefef;
  --color-neutral-30: #7e7981;
}

* {
  font-family: 'Roboto', 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
